
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style  */
.display-flix{
    display: flex;
}
.section-title{
    font-weight: 700px;
    font-size: 2.8rem;
}
.text-primary{
    color: #FF900E;
}
/* dark 02  */
.text-gray{
    color: #424242;
}
/* dark 03  */
.text-light-gray{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > .teams{
    margin-top: 130px;
}


/* header style  */




/* nav related style  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin: 20px;

}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    line-height: 26px;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto ;
}
/* banner-container  */
.banner-container{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-discription{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
}
/* team and feature related style  */
.teams{
    align-items: center;
    margin: 0 110px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 80px;
    max-width: 540px;
}

#quick-list{
    font-weight: 500px;
}
.feature-discription{
   font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin: 24px 0 30px; 
}
/* responsiv media query for small devise  */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        text-align: center;
        margin-right: 50px;
    }
    
}
/* responsiv media query for small devise  */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }

}