*{
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* shared style  */
.display-flix{
    display: flex;
}
.section-title{
    font-weight: 700px;
    font-size: 2.8rem;
}
.text-primary{
    color: #FF900E;
}
/* dark 02  */
.text-gray{
    color: #424242;
}
/* dark 03  */
.text-light-gray{
    color: #727272;
}
/* dark 01  */
.text-black{
    font-size: 1.25rem;
    font-weight: 600;
    color: rgba(19, 19, 19, 1);
    margin: 0;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > .teams{
    margin-top: 130px;
}

/* nav related style  */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700px;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin: 20px;

}
.nav-link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500px;
    line-height: 26px;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto ;
}
/* banner-container  */
.banner-container{
    max-width: 868px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;

}
.banner-titel{
    font-weight: 700;
    font-size: 4rem;
}
.banner-discription{
    font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin-bottom: 30px;
}
.banner-image{
    width: 100%;
}
/* team and feature related style  */
.teams{
    align-items: center;
    margin: 0 110px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.our-features{
    margin-left: 80px;
    max-width: 540px;
}

#quick-list{
    font-weight: 500px;
}
.feature-discription{
   font-size: 1rem;
    line-height: 26px;
    color: #727272;
    margin: 5px 0 25px;
}    
/* Features related style */
.Features{
    max-width: 1440px;
    margin: 130px 50px 0;
    display: flex;
    gap: 120px;
}
.Features img{
    width: 100%;
}
#section-title-border{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.Features-card{
    padding:  20px;
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-top: 20px;
}
#Experience-badge{
   font-size: 1.5rem;
   font-weight: 500px;
   color: #FFFFFF;
   padding: 45px 35px;
   margin-top: -100px;
   margin-left: -80px;
    
}
#Experience-Years{
    font-size: 3.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

 /* facts related style  */
 .Some-Facts{
    max-width: 1390px;
    margin: 130px auto;
 }
.facts-container{
    max-width: 1340px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 100px 80px 180px 150px;
}
.facts-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.facts-number{
    font-size: 2.8rem;
     font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
}
.facts-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 5px;
    margin: 24px 0 30px;
}
/* Sponspors related style */

.Sponspors-title{
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}
.Sponspors-img{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    max-width: 1440px;
    margin: 50px 0px 130px 160px;
    gap: 80px;
    filter: grayscale();
}
/* footer related style */
footer{
    max-width: 1440px;
    height: 100px;
    margin: 0 240px 216px;
    background-color: #FFF4E7;
}
.footer-paragraph{
    font-size: 1.25rem;
    color: #424242;
    text-align: center;
    padding: 40px 0;
}
   
/* responsiv media query for small devise  */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams,
    footer,
    .Features{
        flex-direction: column;
    }
    .team-img-container,
    .facts-container,
    .Sponspors-img{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        text-align: center;
        margin-right: 70px;
    }
    .Sponspors-title{
        text-align: center;
        margin-right: 10px;
    }
    .facts-container{
        padding-right: 70px;
        justify-content: center;
        gap: 20px;
    }
    .title-container{
        padding-right: 30px;
    }
    .Sponspors-img{
         padding-right: 150px;
        justify-content: center;
    }
    
    
}
/* responsiv media query for medium devise  */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams,
    footer,
    .Features{
        flex-direction: column;
    }
    .our-features{
        text-align: center;
        margin-right: 70px;
    }
    .facts-container,
    .Sponspors-img{
        grid-template-columns: repeat(2,1fr);
    }
    .facts-container{
        padding-right: 80px;
        justify-content: center;
        gap: 20px;
    }
    .Sponspors-img{
         padding-right: 150px;
        justify-content: center;
        gap: 50px;
    }

}